<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aweture.wonk"
    android:versionCode="10"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.aweture.wonk.Application" >
        
        <activity android:name="org.aweture.wonk.landing.Activity" />
        <activity android:name="org.aweture.wonk.log.Activity" />
        <activity android:name="org.aweture.wonk.settings.Activity"
            android:label="@string/settings" />
        <activity android:name="org.aweture.wonk.substitutions.Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="org.aweture.wonk.background.UpdateService" />
        <service android:name="org.aweture.wonk.background.UpdateJobService"
	        android:permission="android.permission.BIND_JOB_SERVICE" />
		<receiver android:name="org.aweture.wonk.background.OnBootBroadcastReceiver">
			<intent-filter>
				<action
				    android:name="android.intent.action.BOOT_COMPLETED"
				/>
			</intent-filter>
		</receiver>
    </application>

</manifest>